@import url('https://fonts.googleapis.com/css?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Leckerli+One|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Merriweather|Neucha&display=swap');

body {
    background-color:#f0daf4;
}
 
.content {
   font-family: 'Neucha', cursive;
}

.header {
   font-family: 'Leckerli One', cursive;
}

.navigation {
   font-family: 'Neucha', cursive;
}

.link {
   font-family: 'Neucha', cursive;
   padding: 10px;
}

.link a {
   text-decoration: none;
   color: #965bf2;
}

.list {
   font-family: 'Neucha', cursive;
}

.list a {
   text-decoration: none;
   color: #965bf2; 
}
.photo-container { 
   border: 10px solid white; 
   display: flex; 
   flex-direction: row;
   flex-wrap: wrap; 
}

.photo img {
   width: 250px;
   border: 5px solid #faabd6;
   padding: 10px;
   margin: 30px; 
}


.navigation a {
   text-decoration: none;
   color:#965bf2;
}

h1 {
   text-align: center;
}



.item {
    padding: 50px;
}

.content {
    text-align: center;
}

